{% extends 'base.html' %} {% block title %}Biotools database linter{% endblock %} {% block extrahead %}
<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.6/datatables.min.js"></script>

{% endblock %} {% block
content %}
<p></p>
<article>
    <h1>Biotools database linter</h1>
    <p>
        This tool searches the entire <a href="https://bio.tools/">bio.tools database</a> for errors to help
        maintainers and editors with data quality.
        Currently serving <code>{{error_count}}</code> errors and <code>{{critical_count}}</code> security warnings* for
        <code>{{tool_count}}</code> tools, oldest entry was
        linted at <code>{{last_time}}</code>.

        <br>
        <br>

        Disclaimer: This tool does not cover all possible aspects or validations that can be performed on the data, and
        is not always accurate, particularly if the site uses DDoS mitigation.
        Please use this tool responsibly and do not misuse or overwhelm the bio.tools API with excessive requests.

        * Security warnings not yet implemented.
    </p>

    <div id="dropdown"></div>
    <table id="table" style="width: 100%;"></table>
</article>

<script>
    severity_dropdown = null;
    var table = $('#table').DataTable({
        serverSide: true,
        lengthChange: false,
        pageLength: 100,
        ordering: false,
        initComplete: function () {
            // Create severity dropdown menu

            let column = this.api().columns().header()[3];

            // Create select element
            severity_dropdown = document.createElement('select');
            severity_dropdown.add(new Option(''));
            column.append(severity_dropdown);

            severity_dropdown.addEventListener('change', function () {
                table.ajax.reload()
            });

            // Add options
            ['Low', 'Medium', 'High', 'Linter Error'].forEach(d => {
                severity_dropdown.add(new Option(d));
            });
        },
        ajax: {
            url: '/api/search',
            data: function (d) {
                d.page = d.start / 100
                if (d['search']["value"] != "") {
                    d.query = d['search']["value"]
                }

                // Add severity
                if (severity_dropdown) {
                    switch (severity_dropdown.value) {
                        case "High":
                            d.severity = 5
                            break;
                        case "Medium":
                            d.severity = 6
                            break;
                        case "Low":
                            d.severity = 7
                            break;
                        case "Linter Error":
                            d.severity = 2
                            break;
                    }
                }
            },
            dataSrc: 'results',
            dataFilter: function (data) {
                var json = jQuery.parseJSON(data);
                json.recordsTotal = json.count;
                json.recordsFiltered = json.count;

                return JSON.stringify(json); // return JSON string
            }
        },
        columns: [
            {
                data: 'tool',
                title: 'Tool name',
                render: function (data, type, row) {
                    return (`<a target="_blank" href="https://bio.tools/tool/${data}" rel="nofollow">${data}</a>`);
                }
            },
            { data: 'code', title: 'Code' },
            { data: 'text', title: 'Error' },
            {
                data: 'severity',
                title: 'Severity',
                render: function (data, type, row) {
                    switch (data) {
                        case 2:
                            return "Linter error";
                            break;
                        case 5:
                            return "High"
                            break;
                        case 6:
                            return "Medium"
                            break;
                        case 7:
                            return "Low"
                            break;
                        case 8:
                            return "Critical"
                            break;
                        default:
                            return "Error";
                    }
                }
            },
            {
                data: 'timestamp',
                title: 'Found at'
            },
            {
                data: 'tool',
                title: 'Links',
                render: function (data, type, row) {
                    return (`<a target="_blank" href="https://bio.tools/api/tool/${data}" rel="nofollow">JSON</a>
                <a target="_blank" href="https://bio.tools/${data}/edit" rel="nofollow">Edit</a>`);
                }
            },
        ]
    });

</script>
{% endblock %}