{% extends 'base.html' %} {% block title %}Biotools database linter{% endblock %} {% block extrahead %}
<script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-1.13.6/b-2.4.2/datatables.min.js"></script>

{% endblock %} {% block
content %}

<style>
    #table_filter {
        float: left;
        margin-top: 12px;
    }

    .dt-buttons {
        float: right;
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<p></p>
<article>
    <h1>Biotools database linter</h1>
    <p>
        This website serves to help <a href="https://bio.tools/">bio.tools database</a> editors and maintainers help
        with data quality by searching for
        common quantifiable errors.

        Currently serving <code>{{error_count}}</code> errors for
        <code>{{tool_count}}</code> tools, oldest entry was linted at <code>{{last_time}}</code>.

        <br>
        <br>

        Disclaimer: This tool does not cover all possible aspects or validations that can be performed on the data, and
        is not always accurate, particularly if the site uses DDoS mitigation.
        Please use this tool responsibly and do not misuse or overwhelm the bio.tools API with excessive requests.

        <br>
    </p>

    <table id="table" style="width: 100%;"></table>
</article>

<script>
    ERROR_TYPES = [
        "URL_INVALID",
        "URL_PERMANENT_REDIRECT",
        "URL_BAD_STATUS",
        "URL_NO_SSL",
        "URL_UNUSED_SSL",
        "URL_TIMEOUT",
        "URL_SSL_ERROR",
        "URL_CONN_ERROR",
        "URL_LINTER_ERROR",
        "EDAM_OBSOLETE",
        "EDAM_NOT_RECOMMENDED",
        "EDAM_INVALID",
        "DOI_BUT_NOT_PMID",
        "DOI_BUT_NOT_PMCID",
        "PMID_BUT_NOT_DOI",
        "PMCID_BUT_NOT_DOI",
        "PMCID_BUT_NOT_PMID",
        "URL_TOO_MANY_REDIRECTS",
        "EDAM_TOPIC_DISCREPANCY",
        "EDAM_INPUT_DISCREPANCY",
        "EDAM_OUTPUT_DISCREPANCY",
        "EDAM_FORMAT_DISCREPANCY",
        "PMID_DISCREPANCY",
        "PMCID_DISCREPANCY",
        "DOI_DISCREPANCY",
    ]

    function download(url, button) {
        fetch(url).then(res => res.blob()).then(file => {
            let tempUrl = URL.createObjectURL(file);
            let aTag = document.createElement("a");
            aTag.href = tempUrl;
            aTag.download = "filename";
            document.body.appendChild(aTag);
            aTag.click();
            aTag.remove();
            button.disabled = false;
        })
    }

    severity_dropdown = null;
    error_dropdown = null;
    var table = $('#table').DataTable({
        serverSide: true,
        scrollX: true,
        dom: 'rfBltip',
        language: {
            search: "", // Removes the 'Search' label text
            searchPlaceholder: ""
        },
        buttons: [
            {
                text: 'Download current',
                action: function (e, dt, node, config) {
                    if (typeof umami !== 'undefined') { umami.track('download-current') };
                    var value = $('.dataTables_filter input').val();
                    e.currentTarget.disabled = true;
                    download(`/api/download?query=${value}`, e.currentTarget);
                }
            },
            {
                text: 'Download all',
                action: function (e, dt, node, config) {
                    if (typeof umami !== 'undefined') { umami.track('download-all') };
                    e.currentTarget.disabled = true;
                    download(`/api/download`, e.currentTarget);
                }
            },
        ],
        lengthChange: false,
        pageLength: 100,
        ordering: false,
        initComplete: function () {
            let column = this.api().columns().header()[3];

            // Create severity dropdown menu
            severity_dropdown = document.createElement('select');
            severity_dropdown.add(new Option(''));
            column.append(severity_dropdown);

            severity_dropdown.addEventListener('change', function () {
                table.ajax.reload()
            });

            ['Low', 'Medium', 'High', 'Linter Error'].forEach(d => {
                severity_dropdown.add(new Option(d));
            });

            // Create error code dropdown
            column = this.api().columns().header()[2];
            error_dropdown = document.createElement('select');
            error_dropdown.add(new Option(''));
            column.append(error_dropdown);

            error_dropdown.addEventListener('change', function () {
                table.ajax.reload()
            });

            ERROR_TYPES.forEach(d => {
                error_dropdown.add(new Option(d));
            });

            table.columns.adjust().draw();
        },
        "drawCallback": function (settings) {
            // Bind relint-* buttons
            function handleRelint(buttonId) {
                document.querySelectorAll(`#${buttonId}`).forEach(button => {
                    button.disabled = true;
                    button.textContent = "Processing";
                });

                let url = '/api/lint?' + new URLSearchParams({
                    "tool": buttonId.substring(7),
                })

                if (typeof umami !== 'undefined') { umami.track('relint', { name: buttonId.substring(7) }) };

                fetch(url, {
                    method: 'POST',
                })
                    .then((response) => {
                        if (response.status == 200) {
                            // Success
                            document.querySelectorAll(`#${buttonId}`).forEach(button => {
                                button.disabled = false
                                button.textContent = "Success"
                                button.style.backgroundColor = "#74c365";
                                // Remove event listeners
                                button.outerHTML = button.outerHTML;
                            });

                            // TODO Change to some banner
                            alert("Relint successful, please refresh page");
                        }
                        else {
                            // Error
                            console.error('Error:', error);
                            document.querySelectorAll(`#${buttonId}`).forEach(button => {
                                button.disabled = false
                                button.textContent = "Failure"
                                button.style.backgroundColor = "#ff2946";
                                // Remove event listeners
                                button.outerHTML = button.outerHTML;
                            });
                        }
                    })
                    .catch((error) => {
                        // Error
                        console.error('Error:', error);
                        document.querySelectorAll(`#${buttonId}`).forEach(button => {
                            button.disabled = false
                            button.textContent = "Failure"
                            button.style.backgroundColor = "#ff2946";
                            // Remove event listeners
                            button.outerHTML = button.outerHTML;
                        });
                    });
            }
            document.querySelectorAll('button').forEach(button => {
                if (button.id.startsWith("relint-")) {
                    button.addEventListener('click', function () {
                        handleRelint(button.id);
                    });
                }
            });
        },
        ajax: {
            url: '/api/search',
            data: function (d) {
                d.page = d.start / 100
                if (d['search']["value"] != "") {
                    d.query = d['search']["value"]
                }

                // Add severity
                if (severity_dropdown) {
                    switch (severity_dropdown.value) {
                        case "High":
                            d.severity = 5
                            break;
                        case "Medium":
                            d.severity = 6
                            break;
                        case "Low":
                            d.severity = 7
                            break;
                        case "Linter Error":
                            d.severity = 2
                            break;
                    }
                }

                // Add code
                if (error_dropdown) {
                    if (error_dropdown.value) {
                        d.code = error_dropdown.value
                    }
                }

                if (typeof umami !== 'undefined') { umami.track('search', { query: d['search']["value"], code: d.code, sev: severity_dropdown.value}) };
            },
            dataSrc: 'results',
            dataFilter: function (data) {
                var json = jQuery.parseJSON(data);
                json.recordsTotal = json.count;
                json.recordsFiltered = json.count;

                return JSON.stringify(json); // return JSON string
            }
        },
        columns: [
            {
                data: 'tool',
                title: 'Tool',
                render: function (data, type, row) {
                    return (`<a target="_blank" href="https://bio.tools/tool/${data}" rel="nofollow">${data}</a>`);
                }
            },
            {
                data: 'code', title: 'Code',
                visible: false,
            },
            {
                data: 'text',
                title: `Error`,
                render: function (data, type, row) {
                    const format = (data) => {
                        if (data == "PMCID_BUT_NOT_DOI" || data == "PMID_BUT_NOT_DOI" || data == "DOI_BUT_NOT_PMCID" || data == "DOI_BUT_NOT_PMID" || data == "PMCID_BUT_NOT_PMID") {
                            return `<a target="_blank" href="/docs#PMID,_PMCID_and_DOI_conversion" rel="nofollow">${data}</a>`;
                        }
                        if (data == "PMID_DISCREPANCY" || data == "PMCID_DISCREPANCY" || data == "DOI_DISCREPANCY") {
                            return `<a target="_blank" href="/docs#PMID,_PMCID_and_DOI_discrepancy" rel="nofollow">${data}</a>`;
                        }
                        return `<a target="_blank" href="/docs#${data}">${data}</a>`;
                    };

                    return format(row["code"]) + ": " + data;
                }
            },
            {
                data: 'severity',
                title: 'Severity',
                render: function (data, type, row) {
                    switch (data) {
                        case 2:
                            return "Linter error";
                            break;
                        case 5:
                            return "High"
                            break;
                        case 6:
                            return "Medium"
                            break;
                        case 7:
                            return "Low"
                            break;
                        case 8:
                            return "Critical"
                            break;
                        default:
                            return "Error";
                    }
                }
            },
            {
                data: 'timestamp',
                title: 'Found at'
            },
            {
                data: 'tool',
                title: 'Links',
                render: function (data, type, row) {
                    return (`
                    <a target="_blank" href="https://bio.tools/api/tool/${data}" rel="nofollow">JSON</a>
                    <a target="_blank" href="https://bio.tools/${data}/edit" rel="nofollow">Edit</a>
                    <button id="relint-${data}">Relint</button>
                `);
                }
            },
        ]
    });

    // Move the tool search input to the new location
    $("th")[0].append($("label")[0]);
</script>
{% endblock %}