{% extends 'base.html' %} {% block title %}Biotools linter - search{% endblock %} {% block content %}
<p id="count">Found {{count}} projects</p>
<article id="listing">
    
    {% for entry in entries -%}
    <div class="listing notice" style="padding: 0.5rem 0.5rem 0.5rem 1.0rem !important;">
        <b><a href="https://bio.tools/{{entry.tool}}" id="name">{{entry.tool}}</a></b>
        <p style="margin: 0px;" >{{entry.processed_text | safe}}</p>
    </div>
    {%- endfor %}

</article>
{% endblock %}
