{% extends 'base.html' %} {% block title %}Statistics{% endblock %} {% block extrahead %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script> {%
endblock %} {% block content %}
<p></p>
<article>
    <h1>Statistics</h1>

    <style>
        @media only screen and (min-width: 600px) {
            .graph {
                width: 50%
            }
            .chart-container {
                display: flex; flex-flow: wrap;
            }
        }
    </style>

    <div class="chart-container">
        <div class="graph">
            <canvas id="total_errors"></canvas>
        </div>
        <div class="graph">
            <canvas id="unique_tools"></canvas>
        </div>
        <div class="graph">
            <canvas id="error_types"></canvas>
        </div>
        <div class="graph">
            <canvas id="error_line"></canvas>
        </div>
    </div>

</article>

<script>
    fetch('/api/statistics').then(function (response) {
        return response.text();
    }).then(function (text) {
        const json = JSON.parse(text)['data'];

        const total_errors = document.getElementById('total_errors');
        new Chart(total_errors, {
            type: 'line',
            aspectRatio: 1,
            data: {
                datasets: [{
                    label: 'Total errors',
                    data: json.map(x => x['total_errors']),
                    tension: 0.4
                }],
                labels: json.map(x => (new Date(Number.parseInt(x['time']) * 1000).toLocaleDateString("en-US")).toString()),
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Total errors found'
                    }
                }
            }
        });

        const unique_tools = document.getElementById('unique_tools');
        new Chart(unique_tools, {
            type: 'line',
            aspectRatio: 1,
            data: {
                datasets: [
                    {
                        label: 'Tools in total',
                        data: json.map(x => x['total_count_on_biotools']),
                        tension: 0.4
                    },
                    {
                        label: 'Tools with errors',
                        data: json.map(x => x['unique_tools']),
                        tension: 0.4
                    }
                ],
                labels: json.map(x => (new Date(Number.parseInt(x['time']) * 1000).toLocaleDateString("en-US")).toString()),
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Tools and tools with errors found'
                    }
                }
            }
        });

        const error_types = document.getElementById('error_types');
        l = json[json.length - 1]['error_types'];
        error_names = [];
        error_values = [];
        for (const key in l) {
            if (l.hasOwnProperty(key)) {
                const value = l[key];
                error_names.push(key);
                error_values.push(value);
            }
        }
        new Chart(error_types, {
            type: 'pie',
            plugins: [ChartDataLabels],
            labels: error_names,
            data: {
                labels: error_names,
                datasets: [{
                    data: error_values,
                }],
            },
            labels: {
                render: 'label'
            },

            options: {
                layout: {
                    padding: 50,
                },
                plugins: {
                    datalabels: {
                        // https://chartjs-plugin-datalabels.netlify.app/guide/positioning.html#anchoring
                        align: 'end',
                        anchor: 'end',
                        /*color: function (context) {
                            return context.dataset.backgroundColor;
                        },*/
                        display: 'auto',
                        font: function (context) {
                            var w = context.chart.width;
                            return {
                                size: 10,
                                weight: 'light',
                            };
                        },
                        formatter: function (value, context) {
                            return `${context.chart.data.labels[context.dataIndex]} (${context.chart.data.datasets[0].data[context.dataIndex]})`;
                        }
                    },
                    legend: {
                        display: false,
                    },
                    title: {
                        display: true,
                        text: 'Distribution of error types',
                        padding: 30,
                    }
                },
            }

        });


        const error_line = document.getElementById('error_line');

        let datasets = []
        let error_type_indexes = {}
        json.forEach(x => {
            for (const key in x['error_types']) {
                if (x['error_types'].hasOwnProperty(key)) {
                    const value = x['error_types'][key];
                    if (!(key in error_type_indexes)) {
                        error_type_indexes[key] = datasets.length
                        datasets[error_type_indexes[key]] = { label: key, data: [], fill: "-1" }
                    }
                    datasets[error_type_indexes[key]].data.push(value)
                }
            }
        })

        new Chart(error_line, {
            type: 'line',
            data: {
                labels: json.map(x => (new Date(Number.parseInt(x['time']) * 1000).toLocaleDateString("en-US")).toString()),
                datasets: datasets,
            },
            maintainAspectRatio: false,
            options: {
                scales: {
                    y: {
                        stacked: true
                    }
                },
                plugins: {
                    filler: {
                        propagate: false
                    },
                    'samples-filler-analyser': {
                        target: 'chart-analyser'
                    },
                    title: {
                        display: true,
                        text: 'Error types with time'
                    }
                },
                interaction: {
                    intersect: false,
                },
            },
        });
    }).catch(function (err) {
        console.error('Fetch Error :-S', err);
        return;
    });

</script>

{% endblock %}